.project {
  margin: $margin-half $margin;
}

.project__title {
  font-size: 25px;
  color: #777777;
  margin-bottom: $margin;
}

.project__new-link{
  float: right;
  font-size: 14px;
}

.new_project {
  width: 50%;
  input[type=text] {
    padding: 5px 10px 5px 10px;
    font-size: 30px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  input[type=submit] {
    display: none;
  }
}
