$margin: 60px;
$margin-half: 30px;
$margin-quarter: 15px;

$bgcolor: #ececec;
$border-color: #343434;
$issue-bgcolor: #ffffff;
$add-color: rgba(247, 159, 197, .5);
$remove-color: #888888;

$notification-bgcolor: rgba(227, 247, 159, .8);
$notification-color: darken($notification-bgcolor, 50);
